.header_img{
  width: 100%;
  padding: 0px;
  margin: 0px
}
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(4, 13, 16, 0.3) 0%,
      rgba(4, 13, 16, 0.7) 75%,
      rgb(4, 13, 16) 100%
    ),
    url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1275&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1,
.masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-pills .nav-link {
  color: #828e9f !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #5f6773 !important;
}

.seccion_home {
  background-color: #040d10 !important;
  width: 100%;
}

.seccion_home1 {
  background-color: #040d10 !important;
  width: 100%;
}

.seccion_datos {
  background-color: #040d10 !important;
}

.text-justify {
  text-align: justify !important;
}

.dash-graph {
  border: 1px !important;
  border-radius: 25% !important;
}

.social-icon {
  height: 70px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  margin-right: 11px;
  cursor: pointer;
}

.social-twitter:hover {
  color: #55acee;
}

.social-facebook:hover {
  color: #3b5999;
}

.social-linkedin:hover {
  color: #0077b5;
}

.social-google:hover {
  color: #dd4b39;
}

.social-instagram:hover {
  color: #dd4b39;
}

.social-github:hover {
  color: #dddddd;
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}

.social-icon img {
  transition: 0.4s all;
}

.social-icon:hover img {
  transform: scale(1.4);
}

.list-social {
  list-style: none;
  display: flex;
}

.card-person {
  background-color: #040d10;
  border: 1px solid transparent;
  transition: 0.4s all;
}
.card-person:hover {
  transform: scale(1.1);
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(12, 94, 12, 0.6);
  z-index: 3;
}

.image-person {
  border-radius: 50%;
}

.scholar-google {
  filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(149deg)
    brightness(104%) contrast(107%);
}

.scholar-google:hover {
  filter: invert(22%) sepia(22%) saturate(6873%) hue-rotate(222deg)
    brightness(106%) contrast(82%);
}

.bioinspirada {
  width: 50px !important;
  height: 50px !important;
}

.bioinspirada:hover {
  filter: invert(86%) sepia(17%) saturate(7488%) hue-rotate(326deg)
    brightness(101%) contrast(101%);
}

.img__wrap {
  position: relative;
  width: 50px;
}

.img__description {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 50%;
  margin-left: -50px;
}

.img__description::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.img__wrap:hover .img__description {
  visibility: visible;
}

.rc-slider-track {
  background-color: #2186f4;
}

.indicador {
  background-color: #1f2940 !important;
}

.badge-soft-success {
  color: #51cc98;
  background-color: #002a18;
}

.Select-control {
  background-color: #000000 !important;
  border-color: rgb(63,63,63);
  color: #A0AABA;
}

.Select-menu-outer {
  background-color: #000000 !important;
  border-color: rgb(63,63,63);
  color: #A0AABA;
}

.loader-7 .line {
        width: 8px;
        position: absolute;
        border-radius: 5px;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
        background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
        background: -o-linear-gradient(top, #1ee95d, #5714ce);
        background: linear-gradient(to bottom, #1ee95d, #5714ce);
    }
    
    .loader-7 .line1 {
        left: 0;
        -webkit-animation: line-grow 0.5s ease alternate infinite;
        animation: line-grow 0.5s ease alternate infinite;
    }
    
    .loader-7 .line2 {
        left: 20px;
        -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
        animation: line-grow 0.5s 0.2s ease alternate infinite;
    }
    
    .loader-7 .line3 {
        left: 40px;
        -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
        animation: line-grow 0.5s 0.4s ease alternate infinite;
    }


#energy_consumption{
  height: 300px;
}

#population_graph{
  height: 300px;
}

#population_graph2{
  height: 400px;
}

#gas_consumption{
  height: 300px;
}

#land_cover{
  height: 300px;
}


.pais_datos .js-plotly-plot .plotly, .js-plotly-plot .plotly div {
  background-color: rgba(0, 0, 0, 0);;

}



#navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}

.content{
  padding-top: 3rem;
}

.logo_navbar{
  background-color: #FFF;
  width: 25px;
}

.enlace{
  color: #2aa8ab;
}

.titulo{
  color: #FFF;
}

.primera_parte{
  top: 50px;
}


.box {
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  clear: both;
}

.box_temperature{
  background-color: #ff0000;
}

.box_forest{
  background-color: #636efa;
}

.box_agriculture{
  background-color: #ef553b;
}

.box_rural_population{
  background-color: #ef553b;
}

.box_urban_population{
  background-color: #636efa;
}



.p_nopadding{
  padding-bottom: 0!important;
  margin-bottom: 0!important;
  margin-right: 50px;
}

.p_nopadding2{
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}

.brand-item {
  text-align: center;
}
.brand_img{
  max-width: 100%;
  height: 75px;
}

.list_home{
  padding-left: 15px;
}

.list_item{
  padding-bottom: 5px;
}